body {
  background: white;
  font-family: Arial;
  text-align: center;
}

#ui {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
}

#game {
  position: relative;
  width: 800px;
  height: 200px;
  border: 2px solid black;
  margin: auto;
  overflow: hidden;
  background: white;
}

/* KEDİ */
#player {
  position: absolute;
  bottom: 0;
  left: 60px;
  font-size: 40px;
}

/* ENGEL */
#obstacle {
  position: absolute;
  bottom: 0;
  right: -40px;
  width: 30px;
  height: 50px;
  background: black;
}
#gameOverScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 24px;
}

#gameOverScreen button {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 18px;
  cursor: pointer;
}

/* ✅ 50. saniye sonrası koyu tema */
#game.dark {
  background: black;
  border-color: white;
}

#game.dark #obstacle {
  background: white;
}

/* Üst yazılar görünür olsun */
#game.dark + p,
#game.dark ~ p {
  color: white;
}

/* Eğer skor/süre yazıları bir #ui içindeyse */
#game.dark #ui {
  color: white;
}

body, #game, #obstacle {
  transition: background-color 0.6s ease;
}
